@use "variables";

// MIXIN SECTION

@mixin primaryFontStyleSize {
  font-family: variables.$primary-font;
  font-size: variables.$primary-textsize;
}

@mixin cardFontStylesSize {
  font-family: variables.$primary-font;
  font-size: variables.$card-textsize;
}

@mixin headerFontStyleSize {
  font-family: variables.$primary-font;
  font-size: variables.$header-textsize;
}

@mixin flexBoxContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 10%;
  row-gap: 50px;
  padding-left: 15%;
}

@mixin inputStyles {
  width: 60%;
  margin: 8px 0;
  border-radius: 4px;
}

@mixin centeredItem {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding-bottom: 50px;
}

// BODY & CONTAINER SECTION **Container is for dividing the page into 2 columns

body {
  background-color: rgb(221, 252, 252);
  // @include primaryFontStyleSize;
}

.container {
  display: grid;
  grid-template-columns: 10% 90%;
  list-style: variables.$no-list-style;
}

// NAV SECTION

.nav {
  padding-top: 120px;
  margin-left: 50px;
  @include primaryFontStyleSize;
}

a:link,
a:visited {
  text-decoration: none;
  color: deeppink;
}

a:hover {
  color: rgb(243, 172, 206);
}

// HEADER SECTION FOR EVERY PAGE

.header {
  text-align: center;
  @include headerFontStyleSize();
}

// IMG HEADER FOR HOME

.img-header {
  @include centeredItem;
}

// EVENT CONTAINER TO KEEP ALL FLIP CARDS IN PLACE IN BOTH HOME AND ALL EVENTS PAGES

.events-container {
  @include flexBoxContainer;
}

// EVENT FLIP CARD SETTINGS

// FLIP CARD CONTAINER
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px; //FOR 3D EFFECT
  padding-top: 10px;
}

// POSITION THE FRONT AND BACK SIDE
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

// WHEN HOVER, THE CARD WILL FLIP
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

// STYLING THE FRONT AND BACK SIDE
.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: cornsilk;
  color: black;
  transform: rotateY(180deg);
  @include cardFontStylesSize();
}

//STYLING ALL INFO ON THE FLIP CARDS IN HOME AND ALL EVENTS PAGES
.info-list {
  list-style: variables.$no-list-style;
  padding-top: -10px;
  padding-left: 10px;
}

//STYLING MORE INFO BUTTON
.button {
  background-color: cornsilk;
  color: black;
  border: transparent;
  padding: 0px;
  @include cardFontStylesSize();
}

.button:hover {
  // background-color: #ace7fa;
  border: #ace7fa 2px solid;
  color: black;
}

//DETAIL/EVENT PAGE
//STYLING INFO SECTION IN DETAIL PAGE/EVENT DETAIL
.info-detail {
  @include primaryFontStyleSize;
  list-style: variables.$no-list-style;
}

//CONTAINER FOR KEEPING ALL EVENT PHOTOS IN PLACE
.img-container {
  @include flexBoxContainer;
  padding-top: 50px;
  img {
    height: 200px;
    width: 200px;
  }
  .expand:hover {
    transform: scale(1.5);
  }
}

//CONTAINER FOR KEEPING EVERYTHING IN DETAIL PAGE TOGETHER AND MOVING AWAY FROM NAV SECTION
.info-container {
  padding-left: 50px;
  margin-top: -30px;
}

//AGENDA SETTINGS
#agenda {
  @include primaryFontStyleSize;
  border-collapse: collapse; //single line table
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#agenda td,
#agenda th {
  border: 1px solid transparent;
  padding: 8px;
}

#agenda tr:nth-child(even) {
  background-color: cornsilk;
}

#agenda th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ff9dea;
  color: white;
}

//NEW EVENT/CREATE EVENT PAGE
//STYLING FORM
input[type="text"],
[type="date"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid gray;
  border-radius: 4px;
  box-sizing: border-box;
  @include primaryFontStyleSize;
}

input[type="submit"] {
  width: 100%;
  background-color: #ffabf1;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  @include primaryFontStyleSize;
}

input[type="submit"]:hover {
  background-color: #f989fd;
}

//FORM CONTAINER TO KEEP ALL THE FORM BOXES IN PLACE AND STYLING
.form-container {
  border-radius: 5px;
  background-color: cornsilk;
  padding: 20px;
  margin-left: 50px;
  margin-top: 50px;
  @include primaryFontStyleSize;
}

//ABOUT US PAGE
//STYLING ALL CONTAINERS
.company-container,
.team-container,
.ceo-container {
  @include primaryFontStyleSize;
  img {
    @include centeredItem;
    height: 600px;
  }
  p,
  h3 {
    text-align: center;
    margin-bottom: 50px;
  }
}

#ceo-center {
  margin-left: auto;
  margin-right: auto;
}
